---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
          Kevin Galligan is a technology professional with decades of development and management experience. Since the announcement of Android in 2008, he has been focused primarily in the mobile space. He founded <Link
          href="https://touchlab.co"
          class="text-foreground"
          external
          underline>Touchlab</Link
        > in 2011, and is currently the Technology Partner, guiding the technical direction and vision of the organization. Over the past decade, his focus has been reducing or removing the inherent inefficiencies of mobile product development in a largely two-platform world. That journey started with J2ObjC, led to foundational and ongoing work with KMP, and now continues in the age of AI.
          
          </p>
        <p>
          He is <i>also</i> rather busy, so the "About" page will get a refresh later. See 
          <Link
            href="https://www.linkedin.com/in/kpgalligan/"
            class="text-foreground"
            external
            underline>LinkedIn</Link
          > for details on his professional history.
        </p>
      </div>
      
      <!--<h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>-->
      <!--<div class="flex flex-col gap-4">-->
      <!--  {projects.map((project) => <ProjectCard project={project} />)}-->
      <!--</div>-->
    </div>
  </section>
</Layout>
