
<section class="relative">

    {/* Background image */}
    <div class="absolute inset-0">
        <img class="w-full h-full object-cover" src="/img/hero.jpg" width="1440" height="394" alt="About" />
        <div class="absolute inset-0 bg-neutral-800 opacity-75" aria-hidden="true"></div>
    </div>

    {/* Hero content */}
    <div class="max-w-6xl mx-auto px-4 sm:px-6 relative">
        <div class="pt-32 pb-24">
            <div class="max-w-3xl mx-auto text-center">
                <h1 class="h1 mb-4 drop-shadow-lg text-white" data-aos="fade-up">Touchlab Pro</h1>
                <p class="text-xl text-slate-300 mb-8 drop-shadow-lg mb-8" data-aos="fade-up" data-aos-delay="200">State-of-the-art KMM tools, training, and support from the industry experts</p>
            </div>
        </div>
    </div>

</section>
