
<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 pb-8 md:pb-12">
      <div class="relative w-full">

          <figure class="absolute h-auto bottom-1/4 right-0" style={{  width: '42.97%', maxWidth: '330px'}} data-aos="fade-left" data-aos-delay="200">
              <img src="/img/bink-bday.jpg" alt="Binky's Birthday" />
          </figure>

        <figure class="relative mx-auto h-auto" style={{ width: '78.13%', maxWidth: '600px' }} data-aos="fade-down" data-aos-delay="100">
          <img src="/img/fam-boat.jpg" alt="Kevin and Natalie on a boat" />
        </figure>

        <figure class="absolute h-auto bottom-8" style={{ width: '41.67%', maxWidth: '320px' }} data-aos="fade-right">
          <img src="/img/smile-bink.jpg" alt="Biny and Natalie" />
        </figure>

        <figure class="absolute h-auto top-4" style={{  left: '0%', width: '33.98%', maxWidth: '261px' }} data-aos="fade-up" data-aos-delay="300">
          <img src="/img/bink-shoes.jpg" alt="Binky's shoe collection" />
        </figure>

      </div>
  </div>
</section>
